@media screen and (min-resolution: 192dpi) {
  .main-page {
    background-image: linear-gradient(to bottom, var(--grey), var(--grey)),
      url(../images/images-two-x/bg@2x.jpg);
    padding: 72px 0;
  }
}

/* #region Mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .studio-portf-cont,
  .contacts {
    display: none;
  }

  .item-offers .sub-title {
    text-align: center;
  }

  .header-page .container {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .main-title {
    font-size: 36px;
    max-width: 320px;
  }

  .main-button {
    margin-top: 72px;
  }

  .list-offers,
  .list-team,
  .list-portfolio {
    gap: 72px;
    flex-direction: column;
    align-items: center;
  }

  .item-offers,
  .item-portfolio {
    max-width: 288px;
  }

  .footer-page {
    padding: 96px 0;
  }

  .footer-page .container {
    align-items: center;
    flex-direction: column;
    gap: 72px;
  }

  .form-footer {
    flex-direction: column;
  }

  .footer-button,
  .title-footer,
  .footer-soc-networks {
    align-self: center;
  }

  .footer-page .logo {
    display: flex;
    justify-content: center;
  }

  /* ==M-o-d-a-l=W-i-n-d-o-w== */
  .modal {
    width: 288px;
    height: 623px;
    padding: 72px 16px 24px 16px;
  }

  .text {
    display: block;
    max-width: 231px;
  }

  @media not (hover: hover) {
    .modal-btn-close:active,
    .footer-button:active {
      background-color: var(--ocean);
      border: none;
    }

    .modal-btn-close:active {
      fill: var(--white);
    }

    .menu-link:active,
    .link-navigation-header:active,
    .link-contact-menu:active,
    .link-contacts:active {
      color: var(--ocean);
    }

    .list-soc-networks-menu .social-link:active,
    .llist-soc-networks-footer .social-link:active {
      background-color: var(--green);
    }
  }
}
/* #endregion */

/* #region Tablet */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container {
    max-width: 768px;
  }

  .list-contacts {
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }

  .link-contacts {
    font-size: 12px;
  }

  .main-page-team .container {
    padding-right: 108px;
    padding-left: 108px;
  }

  section {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .list-offers,
  .list-team,
  .list-portfolio,
  .footer-page .container {
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .item-offers,
  .item-portfolio,
  .item-team {
    width: calc(50% - 12px);
  }
  .footer-page .container {
    justify-content: flex-start;
    padding-left: 108px;
  }

  /* ==M-o-d-a-l=W-i-n-d-o-w== */
}
/* #endregion */

/* #region Desktop */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .block-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cloud);
    height: 112px;
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .list-offers,
  .list-team {
    gap: 24px;
  }

  .item-offers,
  .item-team {
    width: calc((100% - 72px) / 4);
  }

  .list-portfolio {
    column-gap: 24px;
    row-gap: 48px;
  }

  .container-logo-text {
    margin-right: 120px;
  }

  .footer-soc-networks {
    margin-right: 80px;
  }
}
/* #endregion */

/* ====================C-O-M-M-O-N============================== */

/* ==TABLET=&=DESRTOP== */
@media screen and (min-width: 768px) {
  .header-page .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .studio-portf-cont-menu,
  .contacts-menu,
  .header-btn-menu,
  .modal-btn-close,
  .list-soc-networks-menu {
    display: none;
  }
}

/* ==MOBILE=&=TABLET== */
@media screen and (min-width: 320px) and (max-width: 1157px) {
  .item-offers .sub-title {
    font-size: 36px;
    font-weight: 700;
  }
}
